<launch>

  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Launch transform system -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <!-- Start core turtlebot stack -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"/>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch"/> 

  <node pkg="rss_obstacle_avoidance" type="rss_obstacle_avoidance_node" name="rss_obstacle_avoidance_node" output="screen"/>

  <include file="$(find rss_control)/launch/mux.launch">
    <arg name="cmd_vel_out" value="/cmd_vel"/>
  </include>


  



</launch>
